<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learnopengles"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.learnopengles.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.learnopengles.LearnOpenGLESCH1.LearnOpenGLESCH1Activity"
            android:label="@string/title_activity_learn_open_glesch1"
            android:parentActivityName="com.example.learnopengles.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.learnopengles.Main" />
        </activity>
        <activity
            android:name="com.example.learnopengles.tut02.FirstTriangleActivity"
            android:label="@string/title_activity_first_triangle" >
        </activity>
    </application>

</manifest>
